.out-cont{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 3vw;
}
.in-cont{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.part1{
    width: 50%;
}
.part1 ul{
    display: grid;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: grey;
}
.part2{
    width: 50%;
}
.part2 img{
    height: 80vh;
    width: 47vw;
}