.out-cont{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 3vw;
}
.in-cont{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.part1{
    width: 50%;
}
.part1 ul{
    display: grid;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: grey;
}
.part2{
    width: 50%;
}
.part2 img{
    height: 80vh;
    width: 44vw;
}
.sze{
    font-size: 6rem;
    color: black;
}
@media only screen and (max-width: 1100px) {
    /* For mobiles */
    .part2 img{
        height: 30vh;
        width: 44vw;
    }
    .sze{
        font-size: 4rem;
        color: black;
    }
}

@media only screen and (max-width: 820px) {
    /* For mobiles */
    .part2 img{
        height: 30vh;
        width: 44vw;
    }
    .part1 ul{
        display: grid;
        gap: 2rem;
        list-style: none;
        font-size: 1.1rem;
        color: grey;
    }
    .sze{
        font-size: 3rem;
        color: black;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobiles */
    .part2 img{
        height: 30vh;
        width: 44vw;
    }
    .part1 ul{
        display: grid;
        gap: 2rem;
        list-style: none;
        font-size: 1.1rem;
        color: grey;
    }
    .sze{
        font-size: 2rem;
        color: black;
    }
}