.outer-container{
    /* height: 20rem; */
    display: grid;
    padding: 0 3vw;
    /* justify-content: center; */
    /* align-items: center; */
}
.inner-container{
    display: grid;
    /* height: 15rem; */
    /* margin-bottom: 3vw; */
    /* gap: 1rem; */
}
.fle{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.fle button{
    background: #ff7000;
    color: white;
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
}
.fle input{
    border: none;
    outline: none;
    font-size: 1rem;
    width: 20rem;
    border-bottom: 1px solid;
    height: 2rem;
}
.sz{
    width: 39rem;
    font-size: 4rem;
}

@media only screen and (max-width: 1024px) {
    /* For mobiles */
    .fle input{
        border: none;
        outline: none;
        font-size: 1rem;
        width: 21rem;
        border-bottom: 1px solid;
        height: 2rem;
    }
    .sz{
        width: 26rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 820px) {
    /* For mobiles */
    .fle input{
        border: none;
        outline: none;
        font-size: 1rem;
        width: 16rem;
        border-bottom: 1px solid;
        height: 2rem;
    }
    .sz{
        width: 20rem;
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobiles */
    .fle input{
        border: none;
        outline: none;
        font-size: 1rem;
        width: 16rem;
        border-bottom: 1px solid;
        height: 2rem;
    }
    .sz{
        width: 18rem;
        font-size: 1.5rem;
    }
}