.industry-comp{
    padding: 0 3vw;
}
.industry-in-cont{
    display: flex;
    justify-content: space-between;
}
.dis-gri{
    padding: 0 3vw;
    justify-content: center;
    display: grid;
    gap: 1rem;
}
.dis-gri div{
    display: flex;
    justify-content: center;
}
.fs13{
    font-size: 1.3rem;
}
.dis-gri img{
    width: 6rem;
    height: 6rem;
}