.visit-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    gap: 2rem;
}
/* .v11{
    height: 20rem;
    display: grid;
    gap: 1rem;
    border-right: 1px solid;
} */
.v1{
    /* display: ; */
    gap: 1rem;
    border-right: 1px solid;
}
.v1_in{
    display: grid;
    margin-top: 2rem;
    /* gap: 2rem; */
}
.v2{
    /* width: 20rem; */
    display: grid;
    gap: 2rem;
    justify-content: space-between;
}
.v2 img{
    height: 66vh;
    width: 35vw;
}
.img-siz{
    width: 3rem;
}
.title-siz{
    font-size: 1.7rem;
    margin-top: 1rem;
}
.desc-siz{
    margin-right: 3rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}


@media only screen and (max-width: 1024px) {
    /* For tabs */
    .img-siz img{
        width: 3rem;
    }
    .title-siz{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .desc-siz{
        margin-right: 3rem;
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .v2 img{
        height: 25vh;
        width: auto;
    }
}