.start{
    margin-top: 3vw;
    padding: 0 3vw;
    display: flex;
    gap: 4rem;
}
.start1{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.start2{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box{
    height: 24rem;
    width: 37rem;
    overflow: hidden;
    border-radius: 15px;
}
.box img{
    width: 100%;
    height: auto;
    display: block;
}
.gap{
    display: grid;
    gap: 10px;
}
.gap .a{
    font-size: 20px;
}
.gap .b{
    font-size: 5rem;
}
.gap button{
    background: #ff7000;
    height: 2.5rem;
    width: 18rem;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 1240px) {
    /* For mobiles */
    .box{
        height: 16rem;
        width: 25rem;
        overflow: hidden;
        border-radius: 15px;
    }
    .box img{
        width: 100%;
        height: auto;
        display: block;
    }
    .gap .a{
        font-size: 1rem;
    }
    .gap .b{
        font-size: 3rem;
    }
    .gap button{
        background: #ff7000;
        height: 2.5rem;
        width: 10rem;
        border: 0px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobiles */
    .box{
        height: 14rem;
        width: 22rem;
        overflow: hidden;
        border-radius: 15px;
    }
    .box img{
        width: 100%;
        height: auto;
        display: block;
    }
    .gap .a{
        font-size: 1rem;
    }
    .gap .b{
        font-size: 2.6rem;
    }
    .gap button{
        background: #ff7000;
        height: 2.5rem;
        width: 10rem;
        border: 0px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .start{
        margin-top: 3vw;
        padding: 0 3vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vw;
    }
    .box{
        height: auto;
        width: auto;
        overflow: hidden;
        border-radius: 15px;
    }
    .box img{
        width: 100%;
        height: auto;
        display: block;
    }
    .gap .a{
        font-size: 0.7rem;
    }
    .gap .b{
        font-size: 1.5rem;
    }
    .gap button{
        background: #ff7000;
        height: 1.5rem;
        width: 10rem;
        border: 0px;
        border-radius: 5px;
        color: white;
        font-size: 15px;
    }
}