.start{
    margin: 2rem;
    display: flex;
    gap: 4rem;
}
.start1{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.start2{
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box{
    height: 25rem;
    width: 38rem;
    overflow: hidden;
    border-radius: 15px;
}
.box img{
    width: 100%;
    height: auto;
    display: block;
}
.gap{
    display: grid;
    gap: 10px;
}
.gap .a{
    font-size: 20px;
}
.gap .b{
    font-size: 5rem;
}
.gap button{
    background: #ff7000;
    height: 2.5rem;
    width: 18rem;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}