.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid grey; */
    font-size: 2rem;
    margin: 2rem;
}
.container{
    border-top: 1px solid;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}
.cont-size{
    width: 50%;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: darkblue; */
    height: 25rem;
    width: 50%;
    border-right: 1px solid grey;
}
.img2{
    height: 25rem;
    width: 34rem;
    border-radius: 5px;
    overflow: hidden;
}
.img2 img{
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure the image behaves as a block element */
}
.box2{
    /* background: yellow; */
    display: grid;
    justify-content: center;
    align-items: center;
    /* background: darkblue; */
    height: 30rem;
    width: 50%;
}
.request-button{
    background-color: #ff7000;
    width: 21rem;
    border: 0px;
    height: 2rem;
    color: white;
    border-radius: 5px;
}